.jSignature-popup-open,.jSignature-popup-open body {height:100%;overflow:hidden;}
.jSignature-popup {position: fixed;left:0;top:0; width: 100%; height: 100%;z-index: 1000; background-color: rgba(0,0,0,0.8);display: none;}
.jSignature-popup-open .jSignature-popup{display: block;}
.jSignature-popup-scroll { position: absolute;left:0px;top:0px;right:0px;bottom:50px; overflow: scroll; background-color: #eee;text-align: center; padding: 10px;-webkit-overflow-scrolling : touch; }
.jSignature-popup-scroll canvas{box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);}
.jSignature-popup-mask{position: absolute;left:0px;top:0px;width: 100%;height: 100%; display: block;background: rgba(0,0,0,0.0);}
.jSignature-popup-controls {position: absolute;left:0px;right:0px;bottom:0px; height: 50px; background:linear-gradient(to bottom, #444, #2b2b2b);text-align: center; font-size: 0;letter-spacing: -4px;white-space: nowrap;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.jSignature-popup-controls:before {content: ""; display:inline-block; width: 0;height: 100%;vertical-align:middle;}
.jSignature-popup-controls a {display:inline-block; width: 12%;height: 80%; margin: 0 2px; letter-spacing: 0; vertical-align: middle; position: relative;background-color: rgba(255,255,255,0.1);color: rgba(255,255,255,0.6);border-radius: 5px;}
.jSignature-popup-controls a:before {content:"";display:inline-block; width: 0;height: 100%;vertical-align: middle;}
.jSignature-popup-controls a > i {display: inline-block; vertical-align: middle;overflow: hidden;position: relative;font-style: normal;transform: scale(1)}
a.jSignature-popup-controls-stroke i {border-radius: 50%;}
a.jSignature-popup-controls-stroke i:before {content: "";display: block;padding-bottom: 100%;}
a.jSignature-popup-controls-stroke i:after {content: "●";position: absolute;left: 50%;top: 50%;line-height: 1; transform: translate(-50%,-50%); font-size: 200px;overflow: hidden;}
a.jSignature-popup-controls-stroke ul {position: absolute;width: 100%;left: 0; bottom: 113%;background: #444;display: none;}
a.jSignature-popup-controls-stroke.open ul {display: block;}
a.jSignature-popup-controls-stroke ul li {padding: 20px 0;border-bottom: 1px rgba(255,255,255,0.05) solid;}
a.jSignature-popup-controls-stroke ul li:before {content: "";display:inline-block;width: 8px;height: 8px;border-radius: 100%;background-color: #fff;}
a.jSignature-popup-controls-stroke ul li:nth-child(1):before {width: 2px;height: 2px;}
a.jSignature-popup-controls-stroke ul li:nth-child(2):before {width: 4px;height: 4px;}
a.jSignature-popup-controls-stroke ul li:nth-child(3):before {width: 6px;height: 6px;}
a.jSignature-popup-controls-stroke ul li:nth-child(4):before {width: 8px;height: 8px;}
a.jSignature-popup-controls-stroke ul li:nth-child(5):before {width: 10px;height: 10px;}
a.jSignature-popup-controls-stroke ul li:nth-child(6):before {width: 12px;height: 12px;}
a.jSignature-popup-controls-stroke ul li:nth-child(7):before {width: 14px;height: 14px;}
a.jSignature-popup-controls-stroke ul li:nth-child(8):before {width: 16px;height: 16px;}
a.jSignature-popup-controls-stroke ul li:nth-child(9):before {width: 18px;height: 18px;}

a.jSignature-popup-controls-color i {width: 15px;border:2px rgba(255,255,255,0.3) solid;border-radius: 3px;}
a.jSignature-popup-controls-color i:before {content: "";display: block;padding-bottom: 100%;}
a.jSignature-popup-controls-color i:after {content: "●";position: absolute;left: 50%;top: 50%;line-height: 1;transform: translate(-50%,-50%); font-size: 200px;}
a.jSignature-popup-controls-color .popup{left: -100px;}
a.jSignature-popup-controls-color .popup .picker_arrow {left: 100px;}
a.jSignature-popup-controls-color .popup .picker_arrow::before{box-shadow: none;}

.jSignature-popup-controls-signature:after {content: "";position: absolute;width: 100%;height: 0;padding-bottom: 70%;left: 0;bottom: 100%; /*background: url(../image/tips.png) no-repeat;background-size: 100% auto;*/}

.jSignature-popup-signature .jSignature-popup-scroll {overflow: hidden;-webkit-overflow-scrolling:auto;}
.jSignature-popup-signature .jSignature-popup-mask {display: none;}
.jSignature-popup-signature .jSignature-popup-controls-signature:after {display: none;}
.jSignature-popup-signature .jSignature-popup-controls-signature ,
.jSignature-popup-stroke    .jSignature-popup-controls-stroke ,
.jSignature-popup-zoom-in   .jSignature-popup-controls-zoom-in ,
.jSignature-popup-zoom-out  .jSignature-popup-controls-zoom-out ,
.jSignature-popup-clear     .jSignature-popup-controls-clear ,
.jSignature-popup-cancel    .jSignature-popup-controls-cancel ,
.jSignature-popup-save      .jSignature-popup-controls-save {background: rgb(0, 132, 255); color: #fff;}

.jSignature-popup-signature .jSignature-popup-controls-signature i {animation: signature 2000ms linear infinite;}
.jSignature-popup-stroke    .jSignature-popup-controls-stroke ul {display: block;}

@keyframes signature {
	0% {transform:translate(10%, -10%);}
	10% {transform:translate(20%, -20%);}
	20% {transform:translate(30%, -10%);}
	30% {transform:translate(30%, 0%);}
	40% {transform:translate(20%, 5%);}
	50% {transform:translate(15%, 10%);}
	60% {transform:translate(10%, 15%);}
	70% {transform:translate(40%, 0%);}
	80% {transform:translate(40%, 10%);}
	90% {transform:translate(20%, -20%);}
	100% {transform:translate(10%, -10%);}
}
@-webkit-keyframes signature {
	0% {transform:translate(10%, -10%);}
	10% {transform:translate(20%, -20%);}
	20% {transform:translate(30%, -10%);}
	30% {transform:translate(30%, 0%);}
	40% {transform:translate(20%, 5%);}
	50% {transform:translate(15%, 10%);}
	60% {transform:translate(10%, 15%);}
	70% {transform:translate(40%, 0%);}
	80% {transform:translate(40%, 10%);}
	90% {transform:translate(20%, -20%);}
	100% {transform:translate(10%, -10%);}
}

@media (max-width:1024px){
	.scrollSlider-horizontal .scrollSlider-container {overflow-x:auto;}
	.scrollSlider-vertical .scrollSlider-container {overflow-y:auto;}
}

